.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 50px 0;
}

.buttonPage {
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.container p {
    margin: 0;
}
