nav {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    animation: nav-animation 4s forwards;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

@keyframes nav-animation {

    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes nav-animation {

    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.icon img {
    width: 80px;
    height: 80px;
    margin-left: 100px;
    margin-top: 10px;
}

.items {
    display: flex;
    margin-top: 20px;
    margin-right: 150px;
}

ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style-type: none;
}

li {
    margin: 0 10px 0 10px;
}

.link:hover {
    text-shadow:
        0 0 6px rgba(10, 197, 239, 0.9),
        0 0 30px rgba(5, 159, 255, 0.9),
        0 0 12px rgba(30, 132, 242, 0.9),
        0 0 21px rgba(30, 132, 242, 0.9),
        0 0 34px rgba(30, 132, 242, 0.9),
        0 0 54px rgba(30, 132, 242, 0.9);
}

.link {
    font-size: 40px;
    color: rgb(0, 162, 255);
    margin: 0 10px 0 10px;
    transition: all 1s;
    white-space: nowrap;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.mainText {
    font-family: "Vibur", cursive;
    margin-left: 40px;
    animation: neon 1.5s infinite alternate;
    -webkit-animation: neon 1.5s infinite alternate;
    font-size: 65px;
    color: rgb(0, 162, 255);
    font-weight: bold;
    white-space: nowrap;
}
