.container {
    min-width: 1300px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    animation: animation 4s forwards;
}

@keyframes animation {

    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@-webkit-keyframes animation {

    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.container p h3 {
    font-size: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 10px;
}

.container ul li a {
    font-size: 20px;
    margin: 0 5px;
}

.container p, .container ul{
    margin: 0;
    padding: 0;
}
